Package: com.mologie.betterpasscodekeypad
Name: BetterPasscodeKeypad
Description: Enhance security by customizing the passcode keypad.
Version: 0.2
Section: Tweaks
Maintainer: Oliver Kuckertz <support+cydia@mologie.com>
Author: Oliver Kuckertz <support+cydia@mologie.com>
Depends: firmware (>= 7), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Section: Tweaks
Priority: optional
