Package: com.mologie.betterpasscodekeypad
Name: BetterPasscodeKeypad
Description: Enhance security by customizing the passcode keypad.
Version: 0.2
Section: Tweaks
Maintainer: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Depends: firmware (>= 7), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Section: Tweaks
Priority: optional
